<div class="container-fluid">
  <div class="card">
    <div class="card-header">PowerBase</div>
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      <form
        [formGroup]="loginForm"
        novalidate
        method="post"
        enctype="multipart/form-data"
      >
        <div class="col">
          <div class="row">
            <i class="bi bi-person-circle"></i>
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                name="username"
                formControlName="username"
                required="required"
                [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
              />
              <div
                *ngIf="submitted && f['username'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['username'].errors?.['required']">
                  Username is required
                </div>
                <div *ngIf="f['username'].errors?.['minlength']">
                  Username must be at least 3 characters long
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <i class="bi bi-shield-lock"></i>
            <div class="form-group">
              <input
                class="form-control"
                type="password"
                name="password"
                formControlName="password"
                required="required"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
              />
              <div
                *ngIf="submitted && f['password'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['password'].errors?.['required']">
                  Password is required
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 2vw">
            <button
              type="button"
              (click)="submitForm()"
              class="btn btn-primary"
            >
              Login
            </button>
            <div style="width: 2vw;"></div>
            <button
              type="button"
              routerLink="/signup"
              class="btn btn-primary"
            >
              Register
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
